<%= form_for @contact, url: contacts_path do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this @contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, size: "1x1", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :message %>
    <%= f.text_area :message, size: "20x10", class: "form-control" %>
  </div>


  <div class="actions">
    <%= f.submit('Contact',class: "btn") %>
  </div>
<% end %>