<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <%= render 'searchs/search', search: @search %><br>
      <%= render 'genres/genreslist', genres: @genres %>
    </div>

    <div class="col-xs-9">
      <h1><%= @name %></h1>

      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Text</th>
            <th>Value</th>
            <th>Category</th>
            <th>Start</th>
            <th>End</th>
            <th colspan="9"></th>
          </tr>
        </thead>

        <tbody>
          <% @events.each do |event| %>
            <tr>
              <td><%= event.title %></td>
              <td><%= event.text %></td>
              <td><%= event.value %></td>
              <td><%= event.genre.name %></td>
              <td><%= event.start_date.strftime('%Y/%m/%d %H:%M') %></td>
              <td><%= event.end_date.strftime('%Y/%m/%d %H:%M') %></td>
              <td><%= link_to 'Show', event %></td>
              <td><%= link_to 'Edit', edit_event_path(event) %></td>
              <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-xs-4">
      <% if params[:genre_id].blank? %>  <!--all eventの時はグラフを出さない-->
      <% else %>
        <h2><%= @name %> value graph</h2>
        <%= column_chart @events.pluck(:title, :value), id: 'total-attendance-chart', width: '400px', height: '500px', colors: ['#C0C0C0'] %>
      <% end %>
    </div>
  </div>
</div>
