<p id="notice"><%= notice %></p>

<h1>Categorys</h1>

<table class="table table-bordered">
  <thead>
    <tr class="tr_option">
      <th>Categorys Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="genre">
    <% @genres.each do |genre| %>
      <%= render 'genre', genre: genre %>
    <% end %>
  </tbody>
</table>
<%= paginate @genres %>

<div id="genre_create_<%= @genre.id %>">
  <%= render 'genrecreate', genre: @genre %>
</div>


