<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "件のエラーにより") %> このイベントを作成することができませんでした：</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title, size: "1x1", class: "form-control", required:true %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text, size: "8x4", class: "form-control" %>
  </div>
  <div class="field">
    <%= form.label :value %>
    <%= form.number_field :value, step: "0.1", size: "1x1", class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :genre_id %><br>
    <%= form.collection_select :genre_id,Genre.where(user_id: current_user.id),:id,:name,:include_blank => " select " %>
  </div>

  <div class="field">
    <%= form.label :start_date %><br>
    <%= form.datetime_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %><br>
    <%= form.datetime_select :end_date %>
  </div>

  <div class="field">
    <%= form.label :alarm %><br>
    <%= form.check_box :alarm, {}, "on", "off" %>
  </div>

  <div class="actions">
    <%= form.submit('Create',class: "btn") %>
  </div>
<% end %>
