<p id="notice"><%= notice %></p>
<h1><%= @name %></h1>

  <table class="table table-bordered">
    <thead>
      <tr class="tr_option">
        <th>Title</th>
        <th>Text</th>
        <th>Value</th>
        <th>Category</th>
        <th>Start</th>
        <th>End</th>
        <th colspan="9"></th>
      </tr>
    </thead>

    <tbody>
      <% @events_calender.each do |event| %>
          <%= render 'eventdestroy', event: event %>
      <% end %>
    </tbody>
  </table>
  <%= paginate @events_calender %>

  <br>
  <div class="row">
    <div class="col-xs-4">
      <% if params[:genre_id].blank? %>  <!--all eventの時はグラフを出さない-->
      <% else %>
        <h2><%= @name %> value graph</h2>
        <%= column_chart @events.pluck(:title, :value), id: 'total-attendance-chart', width: '400px', height: '500px', colors: ['#C0C0C0'] %>
      <% end %>
    </div>
  </div>
</div>
