<p id="notice"><%= notice %></p>
<h1><%= @name %></h1>

<hr>

  <table class="table table-bordered">
    <thead>
      <tr class="tr_option">
        <th colspan="1"></th>
        <th>数値</th>
        <th>開始日</th>
        <th>終了日</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody id="event">
      <% @events_calender.each do |event| %>
          <%= render 'eventdestroy', event: event %>
      <% end %>
    </tbody>
  </table>
  <%= paginate @events_calender %>

  <br>
  <div class="row">
      <% if params[:genre_id].blank? %>  <!--all eventの時はグラフを出さない-->
      <% else %>
        <h2><%= @name %> value graph</h2>
        <hr>
        <% @event_months.each_with_index do |event_month, i| %>
          <div class="col-xs-4">
              <%#= column_chart event_month.pluck(:title, :value), id: "total-attendance-chart-#{i}", width: '370px', height: '500px', colors: ['#C0C0C0'] %>
          <%#= column_chart @event_months %>
          <%#= column_chart [
            { "name":"2020-06",  "data":{ "value":2000 } },
            { "name":"2020-07",  "data":{ "value":3000 } },
          ] %>
          <%#= column_chart [
            { "name":"Male",  "data":{ "Gender":38 } },
            { "name":"Female","data":{ "Gender":59 } }
          ] %>
          </div>
        <% end %>
      <% end %>
</div>