<p id="notice"><%= notice %></p>
<h1><%= @name %></h1>

  <table class="table table-bordered">
    <thead>
      <tr class="tr_option">
        <th colspan="1"></th>
        <th>数値</th>
        <th>開始日</th>
        <th>終了日</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody id="event">
      <% @events_calender.each do |event| %>
          <%= render 'eventdestroy', event: event %>
      <% end %>
    </tbody>
  </table>
  <%= paginate @events_calender %>

  <br>
  <div class="row">
      <% if params[:genre_id].blank? %>  <!--all eventの時はグラフを出さない-->
      <% else %>
        <h2><%= @name %> value graph</h2>
      <div class="graph">
        <%= column_chart @events.pluck(:title, :value), id: 'total-attendance-chart', width: '370px', height: '500px', colors: ['#C0C0C0'] %>
      </div>
      <% end %>
  </div>
</div>