<div class="row">
  <p id="notice"><%= notice %></p>

<% if @event.user == current_user %>

  <h1><%= @name %></h1>

  <div class="panel panel-default">
    <div class="panel-body">
      タイトル
    </div>
    <div class="panel-footer">
      <%= @event.title %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      本文
    </div>
    <div class="panel-footer">
      <%= @event.text %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      数値
    </div>
    <div class="panel-footer">
      <%= @event.value.to_f %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      カテゴリー
    </div>
    <div class="panel-footer">
      <%= @event.genre.name %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      開始日
    </div>
    <div class="panel-footer">
      <%= @event.start_date.strftime('%Y/%m/%d %H:%M') %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      終了日
    </div>
    <div class="panel-footer">
      <%= @event.end_date.strftime('%Y/%m/%d %H:%M') %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      通知
    </div>
    <div class="panel-footer">
      <%= @event.alarm_i18n %>
    </div>
  </div>

  <%= link_to 'Edit', edit_event_path(@event) %> |
    <%= link_to 'Back', root_path %>

<% end %>
</div>
