<!DOCTYPE html>
<html>
  <head>
    <title>Record</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://kit.fontawesome.com/a42aa10d6e.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
        <div class="slider">
        <div class="slider_image"><%= image_tag '1.jpg', class: 'slick_image' %></div>
        <div class="slider_image"><%= image_tag '2.jpg', class: 'slick_image' %></div>
        <div class="slider_image"><%= image_tag '3.jpg', class: 'slick_image' %></div>
        <div class="slider_image"><%= image_tag '4.jpg', class: 'slick_image' %></div>
        <div class="slider_image"><%= image_tag '5.jpg', class: 'slick_image' %></div>
        <div class="slider_image"><%= image_tag '6.jpg', class: 'slick_image' %></div>
        <div class="slider_image"><%= image_tag '7.jpg', class: 'slick_image' %></div>
        <div class="slider_image"><%= image_tag '8.jpg', class: 'slick_image' %></div>
        <div class="slider_image"><%= image_tag '9.jpg', class: 'slick_image' %></div>
        <div class="slider_image"><%= image_tag '10.jpg', class: 'slick_image' %></div>
        </div>
        <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Record</a>
          </div>

          <div class="collapse navbar-collapse" id="navbarEexample1">
            <ul class="nav navbar-nav">
              <% if request.url.include?('admin') %>
                <% if admin_signed_in? %>
                <li><%= link_to 'Count', admins_users_path %></li>
                <li><%= link_to 'Contact', admins_contacts_path %></li>
                <li><%= link_to "Log Out", destroy_admin_session_path, method: :delete %></li>
                <% end %>
              <% elsif user_signed_in? %>
                <li><%= link_to "Top", root_path %></li>
                <li><%= link_to "New Event", new_event_path %></li>
                <li><%= link_to "New Category", genres_path %></li>
                <li><%= link_to "All Events", events_path %></li>
                <li><%= link_to "Bfore schedule", notifications_path, class: "notice" %></li>
                <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
                <li><%= link_to "Contact", new_contact_path %></li>
              <% else %>
                <li><%= link_to "About" %></li>
                <li><%= link_to "Sign Up", new_user_registration_path %></li>
                <li><%= link_to "Log In", new_user_session_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container-fluid">
      <div class="row">
        <div id="sidenav" class="col-xs-2">
          <% if request.url.include?('admin') %>
            <% if admin_signed_in? %>
            <% end %>
          <% elsif user_signed_in? %>
            <%= render 'users/searchs/search', search: @search %><br>
            <%= render 'users/genres/genreslist', genres_list: @genres_list %>
          <% end %>
        </div>
        <div class="col-xs-2">
        </div>
        <div class="col-xs-7">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>



